@import url(https://fonts.googleapis.com/css?family=Ropa+Sans:regular,italic);

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
    color: gray
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    box-shadow: 0px 2px 10px black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background-color: white;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo h1{
    font-size: 50px;
    margin: 10px;
}

header .logo h2{
    font-size: 18px;
    font-weight: normal;
}

header .btn-menu button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: grey;
    cursor: pointer;
    outline: none;
    vertical-align: center;
}

section.banner .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

section.banner .img{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.sessao-principal {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px 10px;
    margin: 50px auto;
}

.produtos {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 40px;
    
}

.produto {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #EEEEEE;
    text-align: center;

}

.descricoes {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.descricoes span {
    color: #888888;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 30px;
}

.descricoes button {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #51D275;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}

.sale button{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background: #DC9730;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}

p {
    font-family: 'Ropa Sans', sans-serif;
    text-align: justify;
    font-size: 15px;
    padding: 10PX;
}

section.styles .container h2{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

section.styles .container h3{
    position: absolute;
    justify-content: center;
    width: 266px;
    height: 33px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #888888;
}

footer {
    background-color: #333333;
    flex-direction: column;
}

.footer.container .map{
    position: absolute;
    width: 252px;
    height: 163px;
    border-radius: 19px;
}
.footer.container .info{
    width: 175px;
    height: 95px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: justify;
    color:#FFFFFF;
}
.footer.container .medias {
    position: absolute;
    width: 98px;
    height: 24px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
}